body {
    background-color: rgb(216, 209, 209);
    font-family: monospace;
    font-size: large;
    padding: 2em;
}

h1 {
    text-align: center;
    font-style: underline
}

h2 {
    text-decoration: underline;
    padding-left: 2.4em;
}

iframe {
    width: 100%;
    height: 500px;
    margin: 0
}

.card {
    font-size: 1.3em;
    width: 90%;
    padding: 1.5em;
    margin: 0 auto;
    float: none; 
    margin-bottom: 10px; 
}

